////////////////////////////////////////////////////////////////////////////////
// Base Styles
////////////////////////////////////////////////////////////////////////////////
a {
  text-decoration: none;
  color: $gold;
  &:hover {
    color: $blue;
    text-decoration: none;
  }
}

body {
    font-family: 'Varela Round', sans-serif;
    font-size: 1.1rem;
    color: $gray;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

img {
  max-width: 100%;
}
