////////////////////////////////////////////////////////////////////////////////
// Base Styles
////////////////////////////////////////////////////////////////////////////////
a {
  text-decoration: none;
  color: $gold;
  &:hover {
    color: $green;
    text-decoration: none;
  }
}

body {
    font-family: 'Varela Round', sans-serif;
    font-size: 1.1rem;
    color: $gray;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

h1 {
  text-align: center;
  margin-top: 0;
  color: $blue;
}

img {
  max-width: 100%;
}

input,
textarea {
  width: 90%;
  line-height: 2;
  @media only screen and (min-width: $sizeL) {
  width: 50%;  
  }
}
