////////////////////////////////////////////////////////////////////////////////
// Base Styles
////////////////////////////////////////////////////////////////////////////////
a {
  text-decoration: none;
  color: $gold;
  cursor: pointer;
  &:hover {
    color: $green;
    text-decoration: none;
  }
}

body {
    font-family: $base;
    font-size: 1.1rem;
    color: $gray;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

button {
  cursor: pointer;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

h1 {
  text-align: center;
  margin-top: 0;
  color: $blue;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;}

input,
textarea {
  width: 90%;
  line-height: 2;
  @media only screen and (min-width: $sizeL) {
  width: 50%;  
  }
}