////////////////////////////////////////////////////////////////////////////////
// Classes and Ids
////////////////////////////////////////////////////////////////////////////////
.contact {
  text-align: center;
  background-color: $blue2;
  padding-top: 1rem;
  padding-bottom: 2rem;
  p {
    color: white;
  }
}

#contact {
  h1 {
    margin-bottom: 1rem;
  }
}

.gold {
  color: $gold;
}

.label {
  margin-bottom: .5rem;
}

.phone-link:hover {
  color: white;
}

.shop-img-button {
  padding: 0;
}

#status {
  color: red;
  font-weight: 600;
  margin: 1rem 0 1rem 0;
}
