////////////////////////////////////////////////////////////////////////////////
// Footer
////////////////////////////////////////////////////////////////////////////////
.footer {
  .packaging {
    padding-top: .5rem;
    padding-bottom: 1rem;
    background-color: $gray2;
    p {
      margin-top: 0;
      margin-bottom: 0;
      @media only screen and (min-width: $sizeL) {
        padding-left: 25%;
        padding-right: 25%;
      }
    } 
  }
  #title {
    font-family: $fancy;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 0;
    color: $blue;
  }
}
#copyright {
  color: white;
  background-color: $gray;
  margin-top: 0;
  padding-top: .2rem;
  padding-bottom: .2rem;
  text-align: center;
}