////////////////////////////////////////////////////////////////////////////////
// Header
////////////////////////////////////////////////////////////////////////////////
header {
  border-bottom: 1px solid $gray2;
  #logo-cart {
    display: flex;
    align-items: center;
    // justify-content: space-between;
  }
  nav {
    display: flex;
    @media only screen and (max-width: $sizeXXS) {
      flex-direction: column;
    }
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: .5rem;
      a {
        text-decoration: none;
        color: $gold;
        margin-left: .5rem;
        margin-right: .5rem;
        font-size: 1rem;
        &:hover {
          color: $blue;
        }
      }
  }
  #tagline-nav {
    text-align: center;
    p {
      margin-top: 0;
      margin-bottom: .5rem;
      color: $gray;
      // font-size: 2rem;
      // font-family: $fancy;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// Header Grid
////////////////////////////////////////////////////////////////////////////////
#snipcart-wrapper {
  text-align: center;
  .cart-logo {
    color: $green;
    flex-shrink: 0;
    img {
      width: 20%;
      // @media only screen and (min-width: $sizeM) {
      //   width: 30%;
      // }
    }
  }
}
