////////////////////////////////////////////////////////////////////////////////
// Header
////////////////////////////////////////////////////////////////////////////////
header {
  border-bottom: 1px solid $gray2;
  #logo-cart {
    display: flex;
    align-items: center;
  }
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: .5rem;
    @media only screen and (max-width: $sizeXXS) {
      flex-direction: column;
    }
    a {
      text-decoration: none;
      color: $gold;
      margin-left: .5rem;
      margin-right: .5rem;
      font-size: 1rem;
      &:hover {
        color: $blue;
      }
    }
  }
  #tagline-nav {
    text-align: center;
    @media only screen and (min-width: $sizeL) {
      order: 2;
    }
    p {
      font-family: $fancy;
      margin-bottom: 1rem;
      color: $gray3;
      font-size: 2rem;
      line-height: 1;
      @media only screen and (min-width: $sizeM) {
        margin-top: 0;
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// Snipcart in Header
////////////////////////////////////////////////////////////////////////////////
#snipcart-wrapper {
  text-align: center;
  margin-right: 1rem;
  .cart-logo {
    color: $green;
    flex-shrink: 0;
    img {
      width: 20%;}
  }
}