////////////////////////////////////////////////////////////////////////////////
// Product & Article Popups
////////////////////////////////////////////////////////////////////////////////
.popup-overlay,
#popup-overlay {
	visibility:hidden;
	position: absolute;
	background: white;
	border: 1px solid $green;
	width: 50%;
	height: auto;
	left: 25%;
	padding: 1rem;
	text-align: left;
	&.active {
		visibility: visible;
		margin: 0 1rem 1rem 1rem;
		a.close {
			color: white;
			font-family: $base;
			background-color: $green;
			text-align: center;
			border: none;
			padding: .5rem;
			display: block;
			width: 5%;
			margin: 0 auto;
			&:hover {
				background-color: $gold;
			}
		}
		.content-img {
			float: right;
			display: block;
			margin: 0 .5rem .5rem 1rem;
			width: 50%;
		}
		h2 {
			text-align: center;
		}
		.info {
			margin: 0 auto;
		}
		.opening-img {
			margin-top: 1rem;
			text-align: center;
		}
	}
}

.popup-content {
	visibility:hidden;
	&.active {
		visibility: visible;
		display: flex;
		align-items: center;
	}
}

