////////////////////////////////////////////////////////////////////////////////
// Product Popups
////////////////////////////////////////////////////////////////////////////////
#popup-overlay {
	visibility: hidden;
	position: absolute;
	background: white;
	border: 2px solid $green;
	width: 70%;
	height: auto;
	left: 15%;
	padding: 1rem;
	&.active {
		visibility: visible;
		a.close {
			color: white;
			font-family: $base;
			background-color: $green;
			text-align: center;
			border: none;
			padding: .5rem;
			display: block;
			margin: 0 auto;
			&:hover {
				background-color: $gold;
			}
			@media only screen and (min-width: $sizeSM) {
				width: 20%;}
			@media only screen and (min-width: $sizeL) {
				width: 10%;}
		}
	}
}

#popup-content {
	visibility: hidden;
	text-align: center;
	&.active {
		visibility: visible;
		@media only screen and (min-width: $sizeL) {
			display: flex;
			align-items: center;
		}
	}
	.info {
		text-align: left;
		margin-left: 1rem;
		@media only screen and (min-width: $sizeL) {
			margin-left: 2rem;
		}
	}
}

////////////////////////////////////////////////////////////////////////////////
// Article Popups
////////////////////////////////////////////////////////////////////////////////
.popup-overlay_article {
	display: none;
	position: absolute;
	background: white;
	border: 2px solid $green;
	width: 50%;
	height: auto;
	left: 15%;
	padding: 1rem;
	text-align: left;
	&.active {
		display: block;
		margin: 0 1rem 1rem 1rem;
		a.close {
			color: white;
			font-family: $base;
			background-color: $green;
			text-align: center;
			border: none;
			padding: .5rem;
			display: block;
			margin: 0 auto;
			&:hover {
				background-color: $gold;
			}
			@media only screen and (min-width: $sizeSM) {
				width: 20%;}
			@media only screen and (min-width: $sizeL) {
				width: 10%;}
		}
		.content-img {
			float: right;
			display: block;
			margin: 0 .5rem .75rem 1.5rem;
			width: 50%;
		}
		h2 {
			text-align: center;
		}
		.info {
			margin: 0 auto;
		}
		.opening-img {
			margin-top: 1rem;
			text-align: center;
		}
	}
}

