////////////////////////////////////////////////////////////////////////////////
// Colors
////////////////////////////////////////////////////////////////////////////////
$blue: #003399;     //standard dark blue
$blue2: #003366;    //navy blue
$gold: #CC9933;
$gray: #4D4D4D;
$gray2: #f4f4f4;    //lightest gray
$green: #12B3A8;    //blue-green

////////////////////////////////////////////////////////////////////////////////
// Fonts
////////////////////////////////////////////////////////////////////////////////
$fancy: 'Alex Brush', cursive;

////////////////////////////////////////////////////////////////////////////////
// BreakPoints
////////////////////////////////////////////////////////////////////////////////
$sizeXS: 480px !default;
$sizeS: 600px !default;
$sizeSM: 768px !default;
$sizeM: 840px !default;
$sizeML: 960px !default;
$sizeL: 1200px !default;
$sizeXL: 1440px !default;


